body {
    background-color: white;
    color: #222;
}

div {
    border: none;
    display: block;
}

a {
    display: inline;
    opacity: .75;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: arial, sans-serif;
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

.page {
    display: block;
}

.container {
    border: none;
}

#top {
    position: relative;
    background-color: white;
    top: 8px;
    height: 100px;
    width: 100%;
}

#topgrid {
    background-color: white min-width: 256px;
    float: right;
    top: 8px;
    display: inline;
    vertical-align: middle;
}

.labelcontainer {
    float: left;
}

.toplabel {
    text-align: right;
    display: inline;
    padding-right: 15px;
}

.buttoncontainer {
    float: right;
}

.topbutton {
    opacity: .75;
    display: inline;
    padding-right: 15px;
}

#google {
    height: 32px;
    width: 20px;
    float: right;
    border-radius: 50%;
    background-color: blue;
    color: blue;
    padding-right: 15px;
}

#content {
    width: 100%;
    margin-top: 59px;
    height: 239px;
    display: block;
    clear: both;
    text-align: center;
}

#logo {
    padding-top: 80px;
    clear: both;
}

#googlelogo {
    width: 272px;
    height: 92px;
}

.sublogo {
    position: relative;
    left: 130px;
}

#searchfields {
    clear: both;
}

#searchinput {
    max-width: 584px;
    margin-left: 350px;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.search {
    display: inline-block;
    vertical-align: middle;
}

#usersearch {
    width: 520px;
    border: none;
    float: left;
}

#usersearch:selection {
    border: none;
}

#voicesearch {
    padding-top: 10px;
    width: 18px;
    height: 23px;
}

center input {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    text-align: center;
    padding: 0 16px;
    min-width: 54px;
    margin: 11px 4px;
    font-weight: bold;
    font-size: 13px;
    font-family: arial, sans-serif;
    cursor: default;
    border-radius: 2px;
    height: 36px;
    line-height: 27px;
    box-sizing: border-box;
}
